<head>
    <style>
        .card {
            min-height: 28vh;
        }
        
        .card:hover {
            box-shadow: 8px 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }
        
        .card-content {
            padding-top: 5em !important;
            text-align: center;
        }
        
        body {
            background-color: #c5e1a5 !important;
        }
    </style>

</head>
<div class="row">
    <div class="col s12 m12 l9 push-l3">
        <h3 class="center-align">Academics</h3>
        <div class="row" style="padding:0px;padding:4em;width:95%;">
            <div class="col s12 m6 l4" ng-repeat="x in records">
                <a class="modal-trigger" style="cursor:pointer;" data-target="modal{{x.id}}" modal>
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span style="font-weight: bold;" class="card-title">{{x.title}}</span>
                        </div>
                    </div>
                </a>
                <div style="margin:0px auto;width:50%;" id="modal{{x.id}}" class="modal">
                    <div class="modal-content">
                        <h4>{{x.title}}</h4>
                        <p>{{x.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // $('.button-collapse').sideNav('show');
        $('.button-collapse').sideNav({
            edge: 'left', // Choose the horizontal origin
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('.side-nav li a').on('click', function (e) {
            windowsize = $(window).width();
            if (windowsize < 992) {
                $('.button-collapse').sideNav('hide');
            }
        });

    });

</script>