<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <center>
                <div class="background">
                    <img height="200" width="230" src="images/ttca.png" />
                </div>
                </br>
                </br>
                </br>
                <h3 style="font-weight: 900;" class="white-text name">TTCA</h3>
            </center>
            <!--<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>-->
        </div>
    </li>
    <li>
        <a ui-sref="app"> <img src="images/home.png" height="30px" width="30"> Home</a>
    </li>
    <li>
        <a ui-sref="app.whatwedo"> <img src="images/whatwedo.png" height="30px" width="30"> What we do</a>
    </li>
    <li>
        <a ui-sref="app.academics"> <img src="images/academics.png" height="30px" width="30"> Academics</a>
    </li>
    <li>
        <a ui-sref="app.events"> <img src="images/events.png" height="30px" width="30"> Events</a>
    </li>
    <li>
        <a ui-sref="app.sports"> <img src="images/sports.png" height="30px" width="30"> Sports</a>
    </li>
    <li>
        <a ui-sref="app.alumni"> <img src="images/alumni.png" height="30px" width="30"> Our Students</a>
    </li>
    <!--<li><a ui-sref="app.placements"><i class="material-icons">cloud</i>Placements</a></li>-->
    <li>
        <a id="borderBottom" ui-sref="app.aboutus"> <img src="images/contact.png" height="30px" width="30"> Contacts</a>
    </li>
</ul>
<a href="#0" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

<style>
    .side-nav {
        background-color: #F44336 !important;
    }
    
    .side-nav a {
        color: white !important;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif !important;
    }
    
    #slide-out li a {
        border-top: 0.5px solid black;
        /*background-color: blueviolet;*/
    }
    
    #borderBottom {
        border-bottom: 0.5px solid black;
    }
    
    .side-nav a:hover {
        background-color: rgba(5, 3, 3, 0.1) !important;
    }
    
    p {
        text-align: justify;
        text-justify: inter-word;
    }

    .btn-large{
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .button-collapse{
        margin: 20px !important;
    }

    .material-icons{
        font-size: 40px !important;
        color: #6200ea !important;
    }
</style>